<div id="photos" role="tabpanel" class="tab-pane fade show active photos" aria-labelledby="photos-tab">
    <div class="row justify-content-center">

        <div class="col-12 col-md-6 my-3 text-center">
            <a href="/media/photos/2018/">
                <img class="d-block img-fluid mx-auto"
                     srcset="/assets/img/media/tn-sustain-summit-2018.jpg,
                             /assets/img/media/tn-sustain-summit-2018.jpg 2x"
                     src="/assets/img/media/tn-sustain-summit-2018.jpg"
                     alt="Sustain Summit 2018"
                     title="Sustain Summit 2018"
                     width="400"
                     height="267">
            </a>
            <h4 class="mt-2">2018 photos</h4>
        </div>
        <div class="col-12 col-md-6 my-3 text-center">
            <a href="/media/photos/2017/">
                <img class="d-block img-fluid mx-auto"
                     srcset="/assets/img/media/tn-sustain-summit-2017.jpg,
                            /assets/img/media/tn-sustain-summit-2017.jpg 2x"
                     src="/assets/img/media/tn-sustain-summit-2017.jpg"
                     alt="Sustain Summit 2017"
                     title="Sustain Summit 2017"
                     width="400"
                     height="267">
            </a>
            <h4 class="mt-2">2017 photos</h4>
        </div>

    </div>
</div>
