<div id="reports" role="tabpanel" class="tab-pane fade reports" aria-labelledby="reports-tab">
    <div class="row justify-content-center">

        {% for report in site.data.media.reports %}
        <div class="col-12 col-md-6 mb-3 mb-md-0 text-center">
            <a href="{{ report.url }}">
                <img class="img-fluid d-block mx-auto" srcset="/assets/img/media/report/sustain-report-2017-cover.png,
                                      /assets/img/media/report/sustain-report-2017-cover@2x.png 2x"
                              src="/assets/img/media/report/sustain-report-2017-cover.png"
                              alt="Sustain 2017 Report Cover"
                              width="255"
                              height="330">
                <h4 class="mt-2">{{ report.name }}</h4>
            </a>
        </div>
        {% endfor %}

    </div>
</div>
