<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="place">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url | replace: 'https://', 'http://' }}/assets/img/og.png">
<meta property="og:image:secure_url" content="{{ site.url }}/assets/img/og.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="256">
<meta property="og:image:height" content="256">
<!-- FIX ME
<meta property="place:location:latitude" content="37.7820615">
<meta property="place:location:longitude" content="-122.3917656">
-->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@SustainOSS">
<meta name="twitter:site" content="@SustainOSS">
<meta name="twitter:title" content="{{ title }}">
