{
  "extends": [
    "stylelint-config-twbs-bootstrap"
  ],
  "rules": {
    "indentation": 4,
    "number-leading-zero": "always",
    "order/properties-order": null,
    "property-no-vendor-prefix": null,
    "selector-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  }
}
