name:               $ustain
description:        a one day conversation for open source software sustainers

markdown:           kramdown

gems:
  - jekyll-seo-tag
  - jekyll-sitemap

# permalinks
permalink:          pretty

sass:
  style:            compressed

# server
port:               8000
url:                https://sustainoss.org
encoding:           UTF-8
exclude:            [Gemfile, Gemfile.lock, README.md]
