---
layout: default
title: Events
slug: events
---

<h1 class="h2 text-center mb-4">Past Events</h1>

<div class="row mb-4" id="events">
  {% assign events = site.data.events | sort: 'ranking' %}
  {% for event in events %}
    {% assign loopindex = forloop.index | modulo: 3 %}
      <div class="col-xs-10 offset-xs-1 col-sm-4 col-md-4 event-container">
        {% if event.url %}<a href="{{ event.url }}">{% endif %}
          <img src="../assets/img/events/{{ event.logo }}" class="card-image"/>
        {% if event.url %}</a>{% endif %}
        <h4>
          {{ event.title }}
        </h4>
        <p class="details"><b>Where:</b> {{ event.location}}<br />
        <b>When:</b> {{ event.date }}</p>
        {% if event.url %}<a class="learn-more" href="{{ event.url }}">
          Learn More
        </a>
        {% endif %}
      </div>
    {% if forloop.index == 3 %}
      <div class="clearfix visible-sm-block"></div>
    {% elsif forloop.index == 4 %}
      <div class="clearfix visible-md-block visible-lg-block"></div>
    {% elsif forloop.index == 12 %}
      <div class="clearfix visible-md-block visible-lg-block"></div>
    {% endif %}
  {% endfor %}
</div>
