---
layout: default
title: Events
slug: events
---

<h1 class="h2 text-center mb-4 ">Events</h1>

<div class="container events">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Sustain started a single event: the San Francisco Summit in 2017. It then went on to London in 2018, and Brussels in 2020. As it has aged, it's become more and more apparent that Sustain is more than just an event. Instead, it's a movement.</p>

      <p>In 2020, we saw the first satellite events using the Sustain brand: one in Lagos, and one in Colorado. Looking forward, we're hoping to find new ways to host Sustain events around the world, virtually and in person, to keep conversations around sustainability going.</p>

      <p>All of our work and organizing is open source. If you're interested in how Sustain has hosted events, want to host your event, or want to use the Sustain brand as part of your event, get in touch and let us know.</p>    </div>
  </div>
</div>

<h1 class="h2 text-center mb-4 past-title">Past Events</h1>

<div class="row mb-4 events">
  {% assign events = site.data.events | sort: 'ranking' %}
  {% for event in events %}
    {% assign loopindex = forloop.index | modulo: 3 %}
      <div class="col-sm-6 col-md-4 event-container">
        {% if event.url %}<a href="{{ event.url }}">{% endif %}
          <img src="../assets/img/events/{{ event.logo }}" alt="{{ event.title }}" class="card-image">
        {% if event.url %}</a>{% endif %}
        <h4>
          {{ event.title }}
        </h4>
        <p class="details">
            <strong>Where:</strong> {{ event.location}}<br>
            <strong>When:</strong> {{ event.date }}
        </p>
        {% if event.url %}<a class="learn-more" href="{{ event.url }}">
          Learn More
        </a>
        {% endif %}
      </div>
    {% if forloop.index == 3 %}
      <div class="clearfix visible-sm-block"></div>
    {% elsif forloop.index == 4 %}
      <div class="clearfix visible-md-block visible-lg-block"></div>
    {% elsif forloop.index == 12 %}
      <div class="clearfix visible-md-block visible-lg-block"></div>
    {% endif %}
  {% endfor %}
</div>
