<div class="alert text-center text-white py-3 mb-0 border-0 rounded-0 book-promo" role="alert" style="background-color: #aa70b5">
  <strong>Join us at <a href="https://opencollective.com/sustainoss/events/sustainoss-virtual-forum-348aa185" class="btn btn-outline-light ml-2">SustainOSS Virtual Forum</a></strong>
  <button type="button" class="close float-none align-middle ml-2 ml-sm-4 text-white" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
