        <footer class="footer small">
            <div class="footer-top py-5">
                <div class="container">

                    <div class="row mb-3 mb-md-4">
                        <div class="col-12">
                            <img class="d-block mx-auto ml-lg-0" src="/assets/img/sustain-hor.svg" alt="Sustain Logo" width="180" height="40">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-lg-3 my-3 my-lg-0">
                            <ul class="list-unstyled top-horizontal-line">
                                <li><a href="/tickets/">Tickets</a></li>
                                <li><a href="/venue/">Venue</a></li>
                                <li><a href="/schedule/">Schedule</a></li>
                                <li><a href="/sponsors/">Sponsors</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3 my-3 my-lg-0">
                            <ul class="list-unstyled top-horizontal-line">
                                <li><a href="/about/">About</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a href="/code-of-conduct/">Code of Conduct</a></li>
                                <li><a href="/diversity/">Diversity</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3 my-3 my-lg-0">
                            <ul class="list-unstyled top-horizontal-line">
                                <li><a href="/terms/">Terms</a></li>
                                <li><a href="/privacy/">Privacy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-lg-3 my-3 my-lg-0">
                            <ul class="list-unstyled list-inline social-list mt-2">
                                <li class="list-inline-item mr-md-3">
                                    <a href="https://github.com/sustainers" target="_blank" rel="noopener">
                                        {%- include icons/github.svg -%}
                                        <span class="sr-only">GitHub</span>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-md-3">
                                    <a href="https://changelog.slack.com/" target="_blank" rel="noopener">
                                        {%- include icons/slack.svg -%}
                                        <span class="sr-only">Slack</span>
                                    </a>
                                </li>
                                <li class="list-inline-item ml-md-3">
                                    <a href="https://twitter.com/SustainOSS" target="_blank" rel="noopener">
                                        {%- include icons/twitter.svg -%}
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-4 text-center bg-purple-soss">
                <div class="container">
                    <span class="copyright">
                        © {{ site.time | date: '%Y' }} <span>SustainOSS</span> - Unless otherwise noted,
                        content on this site is licensed under a
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA 4.0 License</a>
                    </span>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
        {%- include google-analytics.html -%}
    </body>
</html>
