<footer class="footer bg-darkblue">
  <div class="footer-top py-5">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <img class="img-fluid d-block mx-auto mb-3 mb-md-5" src="/assets/img/sustain-white-icon-footer.svg"
            alt="Sustain Icon" width="50" height="50">
        </div>
      </div>

      <div class="row justify-content-center definition">
        <div class="col-lg-6 col-md-12">
          <p>
            <strong>sustainer</strong> — <em>the individual or organization who is concerned with the current
              state and future of highly-used and impactful open source projects</em>
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        {%- comment -%}
        COLUMN_ITEMS is the number of items per footer column
        MAX_MODULO is just COLUMN_ITEMS - 1
        {%- endcomment -%}

        {%- assign COLUMN_ITEMS = 3 -%}
        {%- assign MAX_MODULO = COLUMN_ITEMS | minus: 1 -%}
        {%- for menu in site.data.menu -%}
        {%- if menu.name != 'footer' -%}
        {%- continue -%}
        {%- endif -%}

        {%- for item in menu.pages -%}
        {%- assign mod = forloop.index0 | modulo: COLUMN_ITEMS -%}
        {%- if forloop.first or mod == 0 -%}
        <div class="col-6 col-lg-{{ MAX_MODULO }} col-xl-2 my-3 my-lg-0">
          <ul class="list-unstyled top-horizontal-line">
            {%- endif -%}
            <li><a href="{% if item.url %}{{ item.url }}{% else %}/{{ item.title | slugify }}/{% endif %}">{{
                item.title }}</a></li>
            {%- if forloop.last or mod == MAX_MODULO -%}
          </ul>
        </div>
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}

        <div class="col-6 col-lg-3 my-3 my-lg-0">
          <ul class="list-unstyled list-inline social-list mt-2">
            <li class="list-inline-item mr-1 mr-sm-3">
              <a href="{{ site.params.github }}" rel="noopener" target="_blank" title="GitHub">
                {%- include icons/github.svg -%}
              </a>
            </li>
            <li class="list-inline-item mx-1 mx-sm-3">
              <a href="{{ site.params.slack }}" rel="noopener" target="_blank" title="Slack">
                {%- include icons/slack.svg -%}
              </a>
            </li>
            <li class="list-inline-item mx-1 mx-sm-3">
              <a href="{{ site.params.twitter }}" rel="noopener" target="_blank" title="Twitter">
                {%- include icons/twitter.svg -%}
              </a>
            </li>
            <li class="list-inline-item ml-1 ml-sm-3">
              <a href="{{ site.params.discourse }}" rel="noopener" target="_blank" title="Discourse">
                {%- include icons/discourse.svg -%}
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-bottom py-4 text-center">
    <div class="container">
      <div class="copyright">
        © <span title="{{ site.time | date_to_xmlschema }}">2016-{{ site.time | date: '%Y' }}</span>
        SustainOSS.org - Unless otherwise noted,
        content on this site is licensed under a
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener" target="_blank">CC-BY-SA 4.0
          License</a>
      </div>
      <div class="mt-3">
        Design by <a href="https://ura.design/" rel="noopener" target="_blank">Ura</a> | Code by <a
          href="https://github.com/XhmikosR" rel="noopener" target="_blank">XhmikosR</a>
      </div>
    </div>
  </div>
</footer>

<script>
  {%- include assets/loadjs.min.js -%}
  {%- include assets/loadjs-init.js -%}
</script>

{%- if page.slug == "media" -%}
<script async src="https://cdn.changelog.com/embed.js"></script>
{%- endif -%}

{%- include google-analytics.html -%}

</body>
</html>
