<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {%- seo -%}

        {%- include head/social.html -%}

        <meta name="referrer" content="strict-origin-when-cross-origin">

        {%- include head/favicons.html -%}

        <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com/">
        <link rel="dns-prefetch" href="https://code.jquery.com/">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">

        <link rel="preload" href="/assets/img/sustain-hor.svg" as="image">
        {%- if page.slug == "home" -%}
        <link rel="preload" href="/assets/img/landing-page-bkg-blue.jpg" as="image" media="(min-width: 768px)">
        <link rel="preload" href="/assets/img/landing-page-bkg-blue-small.jpg" as="image" media="(max-width: 767px)">
        {%- endif -%}

        <style>
        {%- capture include_to_scssify -%}
            {%- include assets/_critical.scss -%}
        {%- endcapture -%}
        {{- include_to_scssify | scssify -}}
        </style>

        <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="{{ site.data.assets.cookieConsent.css }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="{{ site.data.assets.bootstrap.css.url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">

        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
            <link rel="stylesheet" href="{{ site.data.assets.cookieConsent.css }}">
            <link rel="stylesheet" href="{{ site.data.assets.bootstrap.css.url }}" crossorigin="anonymous">
        </noscript>

        <style>
        {%- capture include_to_scssify -%}
            {%- include assets/_main.scss -%}

            {%- if page.slug == "tickets" -%}
            {%- include assets/_tickets.scss -%}
            {%- endif -%}
        {%- endcapture -%}
        {{- include_to_scssify | scssify -}}
        </style>

        <script>
            {%- include assets/cssrelpreload.min.js -%}
            {%- include assets/nojs.js -%}
        </script>
    </head>

    {%- capture body_class -%}
        layout-{{ page.layout }}{% if page.body_class %} page-{{ page.body_class }}{% elsif page.slug %} page-{{ page.slug | slugify }}{% endif %}
    {%- endcapture -%}
    <body class="{{ body_class }}">
        <header class="mast-header">
            {%- include nav.html -%}
        </header>

        {%- if page.slug == 'home' -%}
            {%- include home/hero.html -%}
        {%- endif %}
