<nav class="navbar navbar-expand-md navbar-light bg-pink-soss fixed-top text-uppercase">
    <div class="container">
        <a class="navbar-brand d-md-none" href="/">
            <img class="img-fluid d-block" src="/assets/img/sustain_uk_vertical.svg" alt="Sustain Logo" width="70" height="56">
            <span class="sr-only">{{ site.name }}</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                {%- include icons/mobile-menu.svg -%}
            </span>
        </button>

        {%- assign page_url = page.url -%}
        {%- assign page_slug = page_url | split: '/' | last | default: page.slug -%}

        {%- for menu in site.data.menu -%}
        {%- if menu.name == 'navbar-left' -%}
        <div id="navbar-left" class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-center text-md-left">
                {%- for item in menu.pages -%}
                {%- assign link_slug = item.title | slugify -%}
                {%- assign active = nil -%}

                {%- if page_slug == link_slug -%}
                    {%- assign active = 'active' -%}
                {%- endif -%}

                {%- if item.title == 'Home' -%}
                    {%- assign link_slug = nil -%}
                {%- endif -%}

                <li class="nav-item mx-lg-4{% unless active == nil %} {{ active }}{% endunless %}">
                    <a class="nav-link" href="{{ site.baseurl }}/{% if link_slug %}{{ link_slug }}/{% endif %}">{{ item.title }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        {%- endfor -%}

        <a class="navbar-brand mx-auto d-none d-md-inline" href="/">
            <img class="img-fluid d-block" src="/assets/img/sustain_uk_vertical.svg" alt="Sustain Logo" width="80" height="65">
            <span class="sr-only">{{ site.name }}</span>
        </a>

        {%- for menu in site.data.menu -%}
        {%- if menu.name == 'navbar-right' -%}
        <div id="navbar-right" class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-center text-md-left ml-auto">
                {%- for item in menu.pages -%}
                {%- assign link_slug = item.title | slugify -%}
                {%- assign active = nil -%}

                {%- if page_slug == link_slug -%}
                  {%- assign active = 'active' -%}
                {%- endif -%}

                <li class="nav-item mx-lg-4{% unless active == nil %} {{ active }}{% endunless %}">
                    <a class="nav-link" href="{{ site.baseurl }}/{{ link_slug }}{% if link_slug %}/{% endif %}">{{ item.title }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        {%- endfor -%}

    </div>
</nav>
