<nav class="navbar navbar-expand-md navbar-light bg-purple-soss fixed-top text-uppercase">
    <div class="container justify-content-between">
        <a class="navbar-brand d-md-none" href="/">
            <img src="/assets/img/sustain_uk_vertical.svg" alt="Sustain Logo" width="70" height="57">
            <span class="sr-only">{{ site.name }}</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                {%- include icons/mobile-menu.svg -%}
            </span>
        </button>

        {%- assign page_url = page.url -%}
        {%- assign page_slug = page_url | split: '/' | last | default: page.slug -%}

        {%- for menu in site.data.menu -%}
        {%- if menu.name contains 'navbar' -%}
        <div id="{{ menu.name }}" class="collapse navbar-collapse">
            <div class="nav navbar-nav text-center text-md-left w-100 justify-content-around">
                {%- for item in menu.pages -%}
                {%- assign link_slug = item.title | slugify -%}
                {%- assign active = nil -%}

                {%- if page_slug == link_slug -%}
                    {%- assign active = 'active' -%}
                {%- endif -%}

                {%- if item.title == 'Home' -%}
                    {%- assign link_slug = nil -%}
                {%- endif -%}

                <a class="nav-link{% unless active == nil %} {{ active }}{% endunless %}" href="{{ site.baseurl }}/{% if link_slug %}{{ link_slug }}/{% endif %}">{{ item.title }}</a>
                {%- endfor -%}
            </div>
        </div>

        {%- if forloop.first -%}
        <a class="navbar-brand m-0 d-none d-md-flex mx-md-5" href="/">
            <img src="/assets/img/sustain_uk_vertical.svg" alt="Sustain Logo" width="70" height="57">
            <span class="sr-only">{{ site.name }}</span>
        </a>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}

    </div>
</nav>
