<script src="{{ site.data.assets.jquery.url }}"></script>
<script src="{{ site.data.assets.bootstrap.js.url }}"></script>
<script src="{{ site.data.assets.cookieConsent.js }}"></script>

<script>
    {%- include assets/sustain-2021-report-promo.js -%}
    {%- include assets/cookieconsent-init.js -%}
</script>

{%- if page.slug == 'tickets' -%}
    <script src="/assets/js/tickets-carousel.js"></script>
{%- endif -%}

{%- if page.slug == 'media' -%}
    <script src="/assets/js/media.js"></script>
    <script async src="https://cdn.changelog.com/embed.js"></script>
{%- endif -%}

{%- if page.include_baguetteBox == true -%}
    <script src="{{ site.data.assets.baguetteBox.js }}"></script>
    <script>{%- include assets/baguetteBox-init.js -%}</script>
{%- endif -%}

<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

