<div class="sponsors py-6">
  <div>
    <span>Brought to you</span> by the following organizations:
  </div>

  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="https://changelog.com/" title="changelog.com">
        <img src="/assets/img/sponsors/changelog.svg" alt="Changelog logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://opencollective.com/" title="Open Collective">
        <img src="/assets/img/sponsors/opencollective.svg" alt="Open Collective logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/" title="GitHub">
        <img src="/assets/img/sponsors/github.svg" alt="GitHub logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://gratipay.com/" title="Gratipay">
        <img src="/assets/img/sponsors/gratipay.svg" alt="Gratipay logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://libraries.io/" title="Libraries.io">
        <img src="/assets/img/sponsors/libraries.io.svg" alt="Libraries.io logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.stickermule.com/" title="Sticker Mule">
        <img src="/assets/img/sponsors/sticker-mule.svg" alt="Sticker Mule logo">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.unixstickers.com/" title="Unixstickers">
        <img src="/assets/img/sponsors/unixstickers.svg" alt="Unixstickers logo">
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
