/* This is the stylesheet for the Sustain website. The site is mobile first,
 * laid out primarily with vw. Responsiveness is achieved by:
 *
 *  1. Setting max-width to whatever width would be at 640px, essentially
 *  freezing the growth of the elements at 640px wide.
 *
 *  2. Overriding fonts and paddings in a media query at the end, based on the
 *  same math.
 *
 *
 * The colors are:
 *
 *  - #fff (white)
 *  - #eceff1 (blue-grey-50)
 *  - #30b39f (teal)
 *  - #263238 (blue-grey-900)
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 6.25%; /* now 1 rem = 1 px */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font: normal 14rem/150% 'Open Sans', sans-serif;
  background-color: #263238;
}



a {
  color: #30b39f;
  text-decoration: none;
  &:hover,
  &:focus {
    // #207769
    color: darken(#30b39f, 10%);
    text-decoration: none;
  }
}

.clear {
  clear: both;
}


/* nav */
.nav {
  margin: 0 auto;
  padding: 0;

  li {
    width: 24vw;
    max-width: 153.6px;
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;

    a {
      color: #263238;
      display: inline-block;

      img {
        border-radius: 10vw;
        transition: all 300ms ease;
      }
    }

    &:hover img {
      background-color: #30b39f;
    }

  }
}


/* sections */
.details {
  background-color: #263238;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  padding: 4vw 0 0;
}

.banner {
  background-color: #263238;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  padding: 12vw 0;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.pitch {
  background-color: #30b39f;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  padding: 4vw;

  &.empty {
    padding: 1vw;
  }
}

.pitch span,
.sponsors span {
  display: block;
  font: normal 16rem/150% 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

.content {
  background-color: #fff;
  color: #263238;
  padding: 8vw 0 0;
}

.homepage {
  [class*='col-'] div:nth-child(1),
  .cta a, input.btn-email {
    color: #30b39f;
    font: normal 18rem/100% 'Share Tech Mono', monospace;
    &:hover,
    &:focus {
      // #207769
      color: darken(#30b39f, 10%);
    }
  }
  [class*='col-'] div:nth-child(2) {
    padding: 1vw 16vw;
  }
  .nav {
    width: 48vw;    /* two icons */
    max-width: 307.2px;
    margin: 8vw auto 0;
  }
}

.inside-page .nav {
  width: 90vw;  /* five icons */
  max-width: 576px;
  margin: 0 auto 8vw;
  padding: 0;

  li {
    width: 18vw;
    max-width: 115.2px;

    a img {
      border-radius: 6vw;
      width: 10vw;
      max-width: 64px;
      height: auto;
    }
  }
  li.selected a img {
    background-color: #30b39f;
  }
}

.inside-page-content {
  text-align: left;
  margin: 0 auto;
  padding: 8vw;
}

.outer-button-link {
  display: inline-block;
  padding: 4vw 6vw;
  background-color: #263238;
  text-transform: uppercase;
  margin: 0 0 2vw;
  border-radius: 12.8px;
}

.cta {
  padding: 12vw 0 8vw;

  a {
    @extend .outer-button-link;
  }
}

form.email {
  // padding: 12vw 0 8vw;

  #tlemail {
    padding: 4vw 6vw;
    width: 80%;
    margin: 1vw;
    border-radius: 12.8px;
  }

  input.btn-email {
    // @extend a;
    @extend .outer-button-link;
    border: 0;
  }
}

.more-info {
  background-color: #fff;
  color: #263238;
  border-top: 1px solid #d8d9db;
  border-bottom: 1px solid #d8d9db;
  padding: 0 0 8vw;
  margin: 8vw 0 0;

  .nav {
    width: 72vw;    /* three icons */
    max-width: 460.8px;
  }
}

.sponsors {
  background-color: #eceff1;
  color: #263238;
  padding: 4vw 0;

  span {
    color: #30b39f;
  }
  ul {
    width: 84vw;    /* 7 sponsors */
    max-width: 537.6px;
    margin: 4vw auto 0;
    padding: 0;
  }
  li {
    width: 12vw;
    max-width: 76.8px;
    float: left;
    list-style-type: none;
  }
  li img {
    width: 10vw;
    max-width: 51.2px;
    height: auto;
  }
}

.footer {
  background-color: #263238;
  color: #fff;
  padding: 2vw 0;
}

.copyright {
  font-size: small;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}


.page-sponsor {
  .sponsors-row {
    .col-lg-12 {
      padding-top: 20px;
    }
  }

  .sponsor-form {
    width: 100%;
    height: 500px;
    border: none;
  }
}

/* responsiveness */

@media (min-width: 640px) {

  body,
  .pitch span,
  .sponsors span {
    font-size: 16rem;
    line-height: 150%;
  }
  .homepage [class*='col-'] div:nth-child(1),
  .cta a, input.btn-email {
    font-size: 20rem;
    line-height: 150%;
  }

  .details {
    padding: 25.6px 0 0;
  }

  .banner {
    padding: 76.8px 0;
  }

  .pitch {
    padding: 25.6px;

    &.empty {
      padding: 6.4px;
    }
  }

  .content {
    padding: 51.2px 0 0;
  }

  .homepage {
    padding: 51.2px 0 0;

    [class*='col-'] div:nth-child(2) {
      padding: 6.4px 22vw;
    }
    .nav {
      margin: 51.2px auto 0;
    }
  }

  form.email {
    #tlemail {
      width: 40%;
      padding: 1vw 3vh;
    }
  }

  .button-link {
    padding: 25.6px 51.2px;
    margin: 0 0 12.8px;
  }

  .cta {
    padding: 76.8px 0 51.2px;

    a {
      @extend .button-link;
    }
  }

  input.btn-email {
    @extend .button-link;
    padding: 25.6px 51.2px !important;
  }


  .more-info {
    padding: 0 0 51.2px;
    margin: 51.2px 0 0;
  }

  .sponsors {
    padding: 25.6px 0;

    ul {
      margin: 25.6px auto 0;
    }
  }

  .inside-page .nav {
    margin: 0 auto 102.4px;
  }
  .inside-page-content {
    max-width: 538px;
    padding: 51.2px 0;
  }

  .footer {
    padding: 12.8px 0;
  }

  .page-sponsor {
    .inside-page-content {
      max-width: none; /* moar logos! */
    }
    .sponsor-form {
      height: 900px;
    }
  }
}
