/* Embed asset tweaks */
.main-content figure, iframe, img, picture, video {
    height: auto;
    max-width: 100%;
}

.page-title {
    margin-bottom: 10vh;
}
h2 {
    margin-bottom: 2vh;
}
h1,
h2 {
    color: $teal;
}
