/*
 * white:         #ffffff
 * blue-grey-50:  #eceff1
 * teal:          #30b39f
 * blue-grey-900: #263238
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%; /* now 1 rem = 1 px */
}

body {
  text-align: center;
  font: normal 14rem/150% 'Open Sans', sans-serif;
  background: #263238;
}

a {
  color: #30b39f;
  text-decoration: none;
}


/* shared nav styles */

li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
li:nth-child(1) {
  margin: 0 ! important;
}
li a {
  color: #263238;
}
#pitch li img,
#more-info img {
  border-radius: 6vw;
  transition: all 300ms ease;
}
#pitch li a:hover img,
#more-info li a:hover img {
  background: #30b39f;
}


/* sections */

#details {
  background: #263238;
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace;
  padding: 4vw 0 0;
}

#banner {
  background: #263238;
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace;
}
#banner img {
  width: 60%;
  max-width: 320px;
  padding: 12vw 0;
}

#quick-pitch {
  background: #30b39f;
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace;
  padding: 4vw;
}
#quick-pitch b, #sponsors b {
  font: normal 14rem/150% 'Share Tech Mono', monospace;
  text-transform: uppercase;
  display: block;
}

#pitch {
  background: #ffffff;
  color: #263238;
  padding: 8vw 0;
}
#pitch p:nth-child(1),
#pitch p:nth-child(5),
#cta button {
  font: normal 18rem/150% 'Share Tech Mono', monospace;
  color: #30b39f;
}
#pitch p:nth-child(2) {
  padding: 1vw 22vw;
}
#pitch ul {
  height: 12vw;
  margin: 8vw 0 0 34vw;
}
#pitch li {
  width: 12vw;
  margin: 0 0 0 8vw;
}
#pitch li img {
  width: 12vw;
}

#cta {
  clear: left;
  padding: 12vw 0;
}
#cta button {
  border-radius: 2vw;
  border-style: none;
  padding: 4vw 8vw;
  background: #263238;
  text-transform: uppercase;
}

#more-info {
  background: #ffffff;
  color: #263238;
  border: 1px solid #d8d9db;
  border-style: solid none;
}
#more-info ul {
  height: 26vw;
  margin: 8vw 0 0 8vw;
}
#more-info li {
  width: 28vw;
}
#more-info li img {
  width: 12vw;
}

#sponsors {
  clear: left;
  background: #eceff1;
  color: #263238;
}
#sponsors b {
  color: #30b39f;
  padding: 4vw 0 0;
}
#sponsors ul {
  height: 13vw;
  margin: 4vw 0 0 4.5vw;
}
#sponsors li {
  width: 13vw;
}
#sponsors li img {
  width: 8vw;
}

#footer {
  background: #263238;
  color: #ffffff;
  padding: 2vw 0;
  clear: left;
}


/* responsiveness */

@media (min-width: 640px) {

  body, #quick-pitch b, #sponsors b {
    font-size: 16rem;
    line-height: 150%;
  }
  #pitch p:nth-child(1),
  #pitch p:nth-child(5),
  #cta button {
    font-size: 20rem;
    line-height: 150%;
  }

  #details {
    padding: 25.6px 0 0;
  }

  #banner img {
    padding: 76.8px 0;
  }

  #quick-pitch {
    padding: 25.6px;
  }

  #pitch {
    padding: 51.2px 0;
  }
  #pitch p:nth-child(2) {
    padding: 6.4px 22vw;
  }

  #footer {
    padding: 12.8px 0;
  }
}
