.bg-black-soss {
    background-color: $black;
}

.bg-dark-soss {
    background-color: $dark;
}

.bg-purple-soss {
    background-color: $purple;

    a.text-yellow-soss {
        &:focus,
        &:hover {
            color: darken($yellow, 20%);
        }
    }
}
