.btn.bg-black-soss:focus,
.btn.bg-black-soss:hover {
    background-color: lighten($black, 20%) !important;
    color: darken($teal, 10%);
}

.btn-round {
    border-radius: 1.5rem; // 2x0.75, which is .btn's horizontal padding
}

.btn-outline-teal {
    background-color: transparent;
    border-color: $teal;
    color: $teal;

    &:focus,
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba(46, 181, 160, 0.4);
        color: $white;
    }

    &:hover {
        color: $white;
    }
}
