.footer {
    color: $white;

    .footer-top {
        background-color: $footer-top-background;
    }

    .footer-bottom {
        background-color: $footer-bottom-background;
    }

    a {
        color: inherit;
        font-weight: 700;
    }
}
