.footer {
    color: $white;
    font-size: 0.9rem;

    .footer-top {
        background-color: $footer-top-background;
    }

    .social-list .feather {
        width: 30px;
        height: 30px;
    }

    a {
        color: inherit;
        font-weight: 700;
    }
}
