.header-hero {
    background: url("/assets/img/sustain-summit-2020-blue@767.jpg") no-repeat center center / cover;
    min-height: 70vh;

    @media (max-width: 767px) and (orientation: landscape) {
        min-height: 400px;
    }

    @media (max-width: 767px){
        .card {
            margin-bottom: 5vh;
        }
    }

    @media (min-width: 768px) {
        background-image: url("/assets/img/sustain-summit-2020-blue@1923.jpg");
        height: 70vh;
        min-height: 70vh;
    }

    h1 {
        line-height: $header-hero-line-height;
        text-shadow: 2px 2px #070d13;
    }

    .subtitle {
        margin-bottom: 10vh;
    }

    .display-4 {
        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }

    .card {
        background-color: $white;
        color: $teal;

        .btn {
            background-color: $teal;
            border-color: $teal;

            &:hover {
                background-color: $teal-dark;
            }
        }
    }

}
