.header-hero {
    background: url("/assets/img/landing-page-bkg-blue@767.jpg") no-repeat center center / cover;
    min-height: 70vh;

    @media (max-width: 767px) and (orientation: landscape) {
        min-height: 400px;
    }

    @media (min-width: 768px) {
        background-image: url("/assets/img/landing-page-bkg-blue@1920.jpg");
        height: 90vh;
        min-height: 90vh;
    }

    h1 {
        line-height: $header-hero-line-height;
        text-shadow: 2px 2px #070d13;
    }

    .display-4 {
        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }
}
