.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $yellow;

            &:hover,
            &:focus {
                color: $white;
            }
        }

        & .active > .nav-link,
        & .nav-link.active,
        &.nav-link.show,
        & .show > .nav-link {
            color: $white;
        }
    }

    .navbar-brand {
        color: $yellow;
    }

    .navbar-toggler {
        border-color: $yellow;
        color: $yellow;
    }
}
