.navbar {
     &.bg-purple-soss {
        border-bottom: 1px solid lighten($purple, 10%);
     }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $yellow;

            &:hover,
            &:focus {
                color: $white;
            }
        }

        & .active > .nav-link,
        & .nav-link.active,
        &.nav-link.show,
        & .show > .nav-link {
            color: $white;
        }
    }

    @media (min-width: 768px) {
        .nav-link::after,
        .active > .nav-link::after {
            background-color: $white;
            content: "";
            display: block;
            margin-top: 4px;
            transition: width 0.2s ease;
            width: 0;
            height: 1px;
        }

        .nav-link:hover::after,
        .nav-link:focus::after,
        .active > .nav-link::after,
        .active > .nav-link::after {
            width: 100%;
        }
    }

    .navbar-brand {
        color: $yellow;

        @media (min-width: 992px) {
            flex: 0 1 100%;
        }
    }

    .navbar-toggler {
        border-color: $yellow;
        color: $yellow;
    }

    .navbar-left,
    .navbar-right {
        flex: 0 1 100%;
    }
}
