<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta property="og:type" content="place">
    <meta property="og:title" content="$ustain Unconf">
    <meta property="og:url" content="https://www.sustainunconf.org/">
    <meta property="og:image" content="https://www.sustainunconf.org/assets/social/sustain-og.jpg">
    <meta property="place:location:latitude" content="37.7820615">
    <meta property="place:location:longitude" content="-122.3917656">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sustainunconf">
    <meta name="twitter:title" content="$ustain Unconf">
    <meta name="twitter:description" content="No keynotes, expo halls or talks. Only discussions about getting more resources to support digital infrastructure.">
    <meta name="twitter:image" content="https://www.sustainunconf.org/assets/social/sustain-og.jpg">
    <meta name="twitter:image:alt" content="$ustain Unconf">
    <title>$ustain — a one day unconference for open source software sustainers</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#263238">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#263238">

  </head>
  <body>
    <section id="details">
      <a href="https://www.google.com/maps/place/GitHub/@37.7820615,-122.3917656,19z/">GitHub HQ
        (SF)</a> | May 17, 2017
    </section>

    <section id="banner">
      <h1>
        <a href="/">
          <img src="/assets/img/sustain.svg" alt="$ustain Logo">
        </a>
      </h1>
    </section>

    {% if page.pitch %}
    <section id="pitch">{{ page.pitch }}</section>
    <section id="homepage" class="content">
    {{ page.content }}
    </section>
    {% else %}
    <section id="pitch" class="empty"></section>
    <section id="inside-page" class="content">
      {% assign parts = page.url | split: "/" %}
      <ul class="nav">
        <li{% if parts.last == 'agenda' %} class="selected"{% endif %}>
          <a href="/agenda/">
            <img src="/assets/img/icons/agenda.svg" alt="Agenda logo" width="77" height="77">
            <br>
            Agenda
          </a>
        </li>
        <li{% if parts.last == 'about' %} class="selected"{% endif %}>
          <a href="/about/">
            <img src="/assets/img/icons/about.svg" alt="About logo" width="77" height="77">
            <br>
            About
          </a>
        </li>
        <li{% if parts.last == 'sponsor' %} class="selected"{% endif %}>
          <a href="/sponsor/">
            <img src="/assets/img/icons/sponsor.svg" alt="Sponsor logo" width="77" height="77">
            <br>
            Sponsor
          </a>
        </li>
        <li{% if parts.last == 'code-of-conduct' %} class="selected"{% endif %}>
          <a href="/code-of-conduct/">
            <img src="/assets/img/icons/code-of-conduct.svg" alt="Code of Conduct logo" width="77" height="77">
            <br>
            C.O.C.
          </a>
        </li>
        <li{% if parts.last == 'diversity' %} class="selected"{% endif %}>
          <a href="/diversity/">
            <img src="/assets/img/icons/diversity.svg" alt="Diversity logo" width="77" height="77">
            <br>
            Diversity
          </a>
        </li>
      </ul>
      <div class="clear"></div>
      <div id="inside-page-content">
      {{ content }}
      </div>
    </section>
    {% endif %}

    <section id="sponsors">
      <div><b>Brought to you</b> by the following organizations:</div>
      <ul>
        <li>
          <a href="https://changelog.com/">
            <img src="/assets/img/sponsors/changelog.svg" alt="Changelog logo">
          </a>
        </li>
        <li>
          <a href="https://opencollective.com/">
            <img src="/assets/img/sponsors/opencollective.svg" alt="Open Collective logo">
          </a>
        </li>
        <li>
          <a href="https://github.com/">
            <img src="/assets/img/sponsors/github.svg" alt="GitHub logo">
          </a>
        </li>
        <li>
          <a href="https://gratipay.com/">
            <img src="/assets/img/sponsors/gratipay.svg" alt="Gratipay logo">
          </a>
        </li>
        <li>
          <a href="https://libraries.io/">
            <img src="/assets/img/sponsors/libraries.io.svg" alt="Libraries.io logo">
          </a>
        </li>
        <li>
          <a href="https://www.stickermule.com/">
            <img src="/assets/img/sponsors/sticker-mule.svg" alt="Sticker Mule logo">
          </a>
        </li>
        <li>
          <a href="https://www.unixstickers.com/">
            <img src="/assets/img/sponsors/unixstickers.svg" alt="Unixstickers logo">
          </a>
        </li>
      </ul>
      <div class="clear"></div>
    </section>

    <section id="footer">
      totally inspired by <a href="https://maintainerati.org/">maintainerati.org</a>
      <br>
      <a href="https://github.com/sustainers" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/SustainUnconf" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </a>
      <br>
      <span class="copyright">&copy; {{ site.time | date: '%Y' }}</span>
    </section>

  </body>
</html>
