<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#263238">
    <meta property="og:type" content="place">
    <meta property="og:title" content="$ustain Unconf">
    <meta property="og:url" content="https://www.sustainunconf.org/">
    <meta property="og:image" content="https://www.sustainunconf.org/assets/social/sustain-og.jpg">
    <meta property="place:location:latitude" content="37.7820615">
    <meta property="place:location:longitude" content="-122.3917656">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sustainunconf">
    <meta name="twitter:title" content="$ustain Unconf">
    <meta name="twitter:description" content="No keynotes, expo halls or talks. Only discussions about getting more resources to support digital infrastructure.">
    <meta name="twitter:image" content="https://www.sustainunconf.org/assets/social/sustain-og.jpg">
    <meta name="twitter:image:alt" content="$ustain Unconf">
    <title>$ustain — a one day unconference for open source software sustainers</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono">
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <section id="details">
      <a href="https://www.google.com/maps/place/GitHub/@37.7820615,-122.3917656,19z/">GitHub HQ
        (SF)</a> | May 17, 2017
    </section>

    <section id="banner">
      <h1><a href="./"><img src="assets/sustain.svg" alt="$ustain"></a></h1>
    </section>

    {% if page.pitch %}
    <section id="pitch">{{ page.pitch }}</section>
    <section id="homepage" class="content">
    {{ page.content }}
    </section>
    {% else %}
    <section id="pitch" class="empty"></section>
    <section id="inside-page" class="content">
      {% assign parts = page.url | split: "/" %}
      <ul class="nav">
        <li{% if parts.last == 'agenda.html' %} class="selected"{% endif %}><a
          href="agenda.html"><img src="assets/icons/agenda.svg"
          alt="Agenda"><br>Agenda</a></li>
        <li{% if parts.last == 'about.html' %} class="selected"{% endif %}><a
          href="about.html"><img src="assets/icons/about.svg"
          alt="About"><br>About</a></li>
        <li{% if parts.last == 'sponsor.html' %} class="selected"{% endif %}><a
          href="sponsor.html"><img src="assets/icons/sponsor.svg"
          alt="Sponsor"><br>Sponsor</a></li>
        <li{% if parts.last == 'code-of-conduct.html' %} class="selected"{% endif %}><a
          href="code-of-conduct.html"><img src="assets/icons/code-of-conduct.svg"
          alt="Code of Conduct"><br>C.O.C.</a></li>
        <li{% if parts.last == 'diversity.html' %} class="selected"{% endif %}><a
          href="diversity.html"><img src="assets/icons/diversity.svg"
          alt="Diversity"><br>Diversity</a></li>
      </ul>
      <div class="clear"></div>
      <div id="inside-page-content">
      {{ content }}
      </div>
    </section>
    {% endif %}

    <section id="sponsors">
      <div><b>Brought to you</b> by the following organizations:</div>
      <ul>
        <li><a href="https://changelog.com/"><img src="assets/sponsors/changelog.svg"
          alt="Changelog"></a></li>
        <li><a href="https://opencollective.com/"><img src="assets/sponsors/opencollective.svg"
          alt="Open Collective"></a></li>
        <li><a href="https://github.com/"><img src="assets/sponsors/github.svg"
          alt="GitHub"></a></li>
        <li><a href="https://gratipay.com/"><img src="assets/sponsors/gratipay.svg"
          alt="Gratipay"></a></li>
        <li><a href="https://libraries.io/"><img src="assets/sponsors/libraries.io.svg"
          alt="Libraries.io"></a></li>
        <li><a href="https://www.stickermule.com/"><img src="assets/sponsors/sticker-mule.svg"
          alt="Sticker Mule"></a></li>
        <li><a href="https://www.unixstickers.com/"><img src="assets/sponsors/unixstickers.svg"
            alt="Unixstickers"></a></li>
      </ul>
      <div class="clear"></div>
    </section>

    <section id="footer">
      totally inspired by <a href="https://maintainerati.org/">maintainerati.org</a>
    </section>

  </body>
</html>
