<div class="header-hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-yellow text-center">
                <h1 class="h5">
                    A one day event for Open Source maintainers.
                    <br>
                    No keynotes, slides, or expo halls.
                </h1>

                <h2 class="display-4 mt-5 font-weight-light">
                    October 25<small>th</small> 2018
                </h2>

                <h3 class="h5 font-weight-light">
                    London, UK
                </h3>

            </div>
        </div>
    </div>
</div>
