<div class="header-hero d-flex align-items-center text-white text-center">
    <div class="container">
        <h1 class="h5">
            Thank you for making Sustain Summit 2018 a success!
            <br>
            The report is being generated.
            <br>
            In the meantime, let’s keep this discussion going...
        </h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <a class="btn bg-teal text-black btn-round btn-lg my-2 mr-sm-2" href="{{ site.params.discourse }}/" rel="noopener" target="_blank">Go to Forum</a>
                <a class="btn bg-black btn-outline-white btn-round btn-lg my-2 my-sm-0 ml-sm-2" href="/media/">View Media</a>
            </div>

        </div>
    </div>
</div>
