<div class="header-hero d-flex align-items-center text-white text-center">
    <div class="container">
        <h1>
            Sustain Summit 2020
        </h1>
        <h1 class="h5">
            We are going to continue the conversation in Brussels 🎉
            <br>
            January 30th, 2020
            <br>
        </h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <a class="btn bg-teal text-black btn-round btn-lg my-2 mr-sm-2" href="{{ site.params.discourse }}/t/sustain-summit-2020/234" rel="noopener" target="_blank">Discuss in Forum</a>
                <a class="btn bg-black btn-outline-white btn-round btn-lg my-2 my-sm-0 ml-sm-2" href="#newsletter">Subscribe to Newsletter</a>
            </div>
        </div>
        <h1 class="h5">
            <a href="https://opencollective.com/sustainoss/contribute/sustain-2020-brussels-11769" rel="noopener" target="_blank">Sponsorship Opportunities</a>
        </h1>
    </div>
</div>
