<div class="newsletter-cta text-center py-5">
    <div class="container">

        <h4 class="mb-5">Newsletter</h4>

        <form action="https://tinyletter.com/SustainOSS" method="post" target="_blank">
            <div class="form-row justify-content-center align-items-center">
                <div class="col-auto pr-3">
                    <label class="sr-only" for="email-form">Newsletter</label>
                    <input class="form-control bg-transparent" type="email" placeholder="you@domain.com" id="email-form" required>
                    <input type="hidden" value="1" name="embed">
                </div>
                <div class="col-auto">
                    <button class="btn bg-black-soss text-yellow-soss btn-round" type="submit">Subscribe</button>
                </div>
            </div>
        </form>

    </div>
</div>
