<form action="https://tinyletter.com/SustainOSS" method="post" target="_blank">
  <div class="form-row justify-content-center align-items-center">
    <div class="col-auto pr-3">
      <label class="sr-only" for="tlemail">Newsletter</label>
      <input class="form-control bg-transparent text-white text-center py-2 px-0" type="email"
        placeholder="you@domain.com" name="email" id="tlemail" required>
      <input type="hidden" value="1" name="embed">
    </div>
    <div class="col-auto mt-3 mt-sm-0">
      <button class="btn bg-black text-white rounded-pill" type="submit">Subscribe</button>
    </div>
  </div>
</form>